<div class='container-fluid' *ngIf="show">
  <div class='row'>
     <div class='offset-md-2 col-md-8 col-12'>
       <div class='widget widget-full login-container' id='login-widget'>
         <div class='row'>
           <div class='col-12 mtb-10'>
             <h3 class='login-title'>closetr</h3>
             <span class='f-light-blue-md text-center'>sign up for free today!</span>
           </div>
           <div class='col-12'>
             <ui-input
               id="name-input"
               class="mtb-10-13"
               [labelText]="'name'"
               [type]="'text'"
               [(inputModel)]="name"
               [placeholder]="'Name'"
               (inputModelChange)="registerChangeHandler()"
               [errorMessage]="errorMessage.name"
               [showError]="error.name"
             ></ui-input>
           </div>
           <div class='col-12'>
             <ui-input
               id="username-input"
               class="mtb-10-13"
               [labelText]="'username'"
               [type]="'username'"
               [(inputModel)]="username"
               [placeholder]="'Username'"
               (inputModelChange)="registerChangeHandler()"
               [errorMessage]="errorMessage.username"
               [showError]="error.username"
             ></ui-input>
           </div>
           <div class='col-12'>
             <ui-input
               id="password-input"
               class="mtb-10-13"
               [labelText]="'password'"
               [type]="'password'"
               [(inputModel)]="password"
               [placeholder]="'Password'"
               (inputModelChange)="registerChangeHandler()"
               [errorMessage]="errorMessage.password"
               [showError]="error.password"
             ></ui-input>
           </div>
           <div class='col-12'>
             <ui-input
               id="password-confirm-input"
               class="mtb-10-13"
               [labelText]="'confirm password'"
               [type]="'password'"
               [(inputModel)]="passwordConfirm"
               [placeholder]="'Confirm Password'"
               (inputModelChange)="registerChangeHandler()"
               [errorMessage]="errorMessage.passwordConfirm"
               [showError]="error.passwordConfirm"
             ></ui-input>
           </div>
           <div class='col-12'>
             <ui-text-button
               id="register-button"
               [labelText]="'sign up'"
               [disabled]="!checkEnableRegister()"
               (click)="register()"
               class="mtb-10"
             ></ui-text-button>
           </div>
           <div class='col-12'>
             <hr>
             <span class='f-light-blue'>
               Have an account already?
             </span>
             <ui-text-button
              [labelText]="'sign in'"
              [buttonLink]="'/login'"
              class="mtb-10"
             ></ui-text-button>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
