
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $med-blue;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $med-blue;
}
