<div>
  <span
    *ngIf="type != 'no-icon'"
    class="icon icon-{{type}}">
    <i class="fas fa-filter"></i>
  </span>
  <span
    *ngIf="labelText"
    class="select-label">
    {{labelText}}
  </span>
  <select
    class="pull-right mtb-4"
    [ngClass]="{
      'select-with-icon': (type != 'no-icon'),
      'select-with-label': (labelText),
      'mrt-5': (className == 'mrt-5')
    }"
    [(ngModel)]="inputModel"
    (ngModelChange)="changeHandler($event)"
    (change)="changeHandler()"
  >
    <option
      *ngFor="let item of items"
      value="{{item}}">
      {{item}}
    </option>
  </select>
</div>
