<div class="table-general">
  <table class="table table-sm table-borderless">
    <tbody>
      <div *ngIf="filter == 'date'">
        <tr *ngFor="let item of items | dateRangeFilter:filterCriteria.dateFrom:filterCriteria.dateTo:filterBy | keyvalue">
          <td class="cell-bold">
            {{item.value.bindBold}}
          </td>
          <td class="cell-regular">
            {{item.value.bindRegular}}
          </td>
        </tr>
      </div>
      <div *ngIf="filter == 'none'">
        <tr *ngFor="let item of items | keyvalue">
          <td *ngIf="item.value" class="cell-bold">
            {{item.value.bindBold}}
          </td>
          <td *ngIf="item.value" class="cell-regular">
            {{item.value.bindRegular}}
          </td>
        </tr>
      </div>
    </tbody>
  </table>
</div>
