<div class='container' id='dashboard-container'>
  <div class='row'>
    <div class='col-2'>
        <div class='circle'>

        </div>
    </div>
    <div class='col-2 offset-8'>
        <div class='circle pull-right'>
          
        </div>
    </div>
  </div>
   <div class='row'>
      <div class='col-xs-12 col-md-6 '>
        <div class='widget'>
          <h3>today</h3>
        </div>
     </div>
     <div class='col-xs-12 col-md-6'>
        <div class='widget'>
           <h3>spending</h3>
        </div>
     </div>
  </div>
  <div class='row'>
     <div class='col-12'>
       <div class='widget'>
         <h3>closet</h3>
       </div>
    </div>
 </div>
</div>
<router-outlet></router-outlet>
