/*
Login styles.
*/

.login-container {
  position: relative;
  top: calc(15vh - 30px);
  min-height: 70vh;
}

.login-title {
  display: inherit;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}
