/*
Closet search result styles.
*/

.closet-search-box {
  background-color: $light-blue-grey;
  transition: $mid-ease;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 7px;
  height: 31px;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: $light-blue-grey-1;
    transition: $mid-ease;
  }
}

.closet-search-box-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
  display: inline-block;
}
