<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid" *ngIf="currentUser">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-transparent btn-back" (click)="back()">
                <span class="icon-lg">
                  <i class="fas fa-chevron-left"></i>
                </span>
              </button>
              <h3>my profile</h3>
            </div>
            <div class="col-6">
              <button type="button"
              (click)="toggleEditMode()"
              class="btn btn-transparent pull-right icon-edit">
                <span class="icon-lg">
                  <i class="fas fa-pen"></i>
                </span>
              </button>
              <ui-text-button
                [labelText]="'save'"
                [type]="'top-right'"
                [hidden]="!editMode"
                (click)="save()"
              ></ui-text-button>
            </div>
          </div>
          <ui-input
            [labelText]="'username'"
            [type]="'username'"
            [(inputModel)]="currentUser.userID"
            (inputModelChange)="checkSubmit()"
            [disabled]="true"
          ></ui-input>
          <ui-input
            [labelText]="'name'"
            [type]="'text'"
            [(inputModel)]="currentUser.userName"
            (inputModelChange)="checkSubmit()"
            [disabled]="!editMode"
          ></ui-input>
          <ui-input
            [labelText]="'description'"
            [type]="'textarea'"
            [rows]="5"
            [(inputModel)]="currentUser.userDesc"
            (inputModelChange)="checkSubmit()"
            [disabled]="!editMode"
          ></ui-input>
          <ui-input
            [labelText]="'password'"
            [type]="'password'"
            [(inputModel)]="currentUser.userPassword"
            (inputModelChange)="checkSubmit()"
            [disabled]="true"
          ></ui-input>
        </div>
      </div>
    </div>
  </div>
</div>
