<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <ui-back-button
                [url]="prevUrl"
              ></ui-back-button>
              <h3>add clothing</h3>
            </div>
            <div class="col-4">
              <ui-text-button
                id="save-button"
                [labelText]="'save'"
                [type]="'top-right'"
                [disabled]="!checkSubmit()"
                (click)="save()"
              ></ui-text-button>
            </div>
          </div>
          <ui-input
            id="name-input"
            [labelText]="'name'"
            [type]="'text'"
            [(inputModel)]="clothing.clothingName"
            [placeholder]="'e.g. Aritzia T-Shirt'"
            (inputModelChange)="checkSubmit()"
          ></ui-input>
          <ui-input
            id="cost-input"
            [labelText]="'cost ($)'"
            [type]="'number'"
            [(inputModel)]="clothing.clothingCost"
            [placeholder]="'e.g. 15'"
            (inputModelChange)="checkSubmit()"
          ></ui-input>
          <ui-input-select
            id="category-input"
            [labelText]="'category'"
            [(inputModel)]="clothing.clothingCategory"
            (inputModelChange)="checkSubmit()"
            [items]="clothingCategories"
          ></ui-input-select>
          <ui-input
            id="worn-input"
            [labelText]="'worn'"
            [type]="'number'"
            [(inputModel)]="clothing.clothingWorn"
            [placeholder]="'e.g. 4'"
            (inputModelChange)="checkSubmit()"
          ></ui-input>
          <ui-input
            id="purchase-date-input"
            [labelText]="'date purchased'"
            [type]="'date'"
            [(inputModel)]="clothing.clothingPurchaseDate"
            (inputModelChange)="checkSubmit()"
          ></ui-input>
          <!--
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">choose image</span>
            </div>
            <div class="col-12 col-sm-6">
              <label class="btn-img-upload">
                <span><i class="fas fa-image"></i></span>
              </label>
              <input type="file" id="image-upload" accept="image/*" class="display-none"/>
            </div>
          </div>-->
      </div>
    </div>
  </div>
</div>
