<div class="container-fluid">
  <div class="row">
      <div class="col-6">
        <h3>spending</h3>
      </div>
      <div class="col-6">
        <ui-filter-select
          [items]="dateOptions"
          [(inputModel)]="filterCriteria.dateRangeFor"
          (inputModelChange)="updateFilterCriteria()"
        ></ui-filter-select>
      </div>
  </div>
  <div class="row mtb-10">
    <div class="col-12">
      <ui-table
        [items]="closetList"
        [bindBold]="'clothingCost'"
        [bindRegular]="'clothingName'"
      ></ui-table>
    </div>
    <div class="col-12">
      <ui-text-button
        id="manage-spending-button"
        [labelText]="'manage spending'"
        [buttonLink]="'/spending-manage'"
      ></ui-text-button>
    </div>
  </div>
  <div class="row">
      <div class="col-6">
        <h3>budget</h3>
      </div>
      <div class="col-6">
        <ui-edit-button
          id="edit-button"
          [buttonLink]="'/budget-manage'"
          [type]="'link'"
        ></ui-edit-button>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
        <span class="f-light-blue">
          you have $160 left for this month.
        </span>
      </div>
      <div class="col-12">
        <div class="text-bubble text-bubble-span">
            <span class="text-bubble-progress">
            </span>
            <span class="f-med-white text-bubble-txt">
              $200 / $360
            </span>
        </div>
      </div>
  </div>
</div>
