<div class="container-fluid">
  <div class="row">
      <div class="col-6">
        <h3>closet</h3>
      </div>
      <div class="col-6">
        <a routerLink="/closet-manage">
          <span class="icon-lg pull-right">
            <i class="fas fa-pen"></i>
          </span>
        </a>
      </div>
  </div>
  <div class="row mtb-10">
      <div class="col-6 col-sm-4 col-md-3">
        <span class="icon"><i class="fas fa-filter"></i></span>
        <select class="pull-right mtb-4 select-with-icon">
          <option value="last week">
            no sort
          </option>
          <option value="last month">
            cost ascending
          </option>
        </select>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <span class="icon"><i class="fas fa-sort"></i></span>
        <select class="pull-right mtb-4 select-with-icon">
          <option value="last week">
            no filter
          </option>
          <option value="last month">
            exclude Aritzia items
          </option>
          <option value="last month">
            sweaters only
          </option>
          <option value="last month">
            pants and sweaters only
          </option>
        </select>
      </div>
  </div>
  <div class="row mtb-10">
    <div class="col-6 col-sm-4 col-lg-3" *ngFor="let clothing of closetList">
      <div class="closet-card mtb-10">
        <app-closet-card [clothing]="clothing"></app-closet-card>
      </div>
    </div>
  </div>
</div>
