<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <h3>closet</h3>
      </div>
  </div>
  <div class="row mtb-10">
    <div class="col-xs-12">
      <span>sort and filter</span>
    </div>
  </div>
  <div class="row mtb-10">
    <div class="col-xs-6 col-sm-4" *ngFor="let n of [0,1,2]">
      <div class="closet-card">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="closet-card-picture">
                </div>
              </div>
              <div class="col-xs-12">
                <div class="closet-card-caption">
                  <span>Aritzia T-shirt</span><br>
                  <span>worn: 2 times</span><br>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
