<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-transparent btn-back" (click)="back()">
                <span class="icon-lg">
                  <i class="fas fa-chevron-left"></i>
                </span>
              </button>
              <h3>budget manage</h3>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="f-light-blue-md">
                Add another budget span
              </span>
              <div class="input-group">
                <select class="form-control input-clean" [(ngModel)]="selectedBudgetSpan">
                  <option *ngFor="let budgetSpan of availableBudgetSpans" value="{{budgetSpan}}">{{budgetSpan}}</option>
                </select>
                <span class="input-group-btn input-clean-addon-right">
                  <button class="btn btn-default" style="background-color: transparent" type="button"
                  (click)="addBudgetSpan(selectedBudgetSpan)"
                  [disabled]="selectedBudgetSpan == 'select'">
                    <i class="fas fa-plus"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="f-light-blue-md">
                My budget spans:
              </span>
            </div>
          </div>
          <div class="row mtb-10" *ngFor="let budgetSpan of selectedBudgetSpans">
            <div class="col-12">
              <div class="input-group">
                <input type="text" class="form-control input-clean" placeholder="ex. 200">
                <span class="input-group-btn input-clean-addon-right">
                  <span class="input-clean-addon-span">per {{budgetSpan}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="f-light-blue">
                December 1, 2018 - December 31, 2018
              </span>
            </div>
            <div class="col-12">
              <div class="text-bubble text-bubble-span">
                  <span class="text-bubble-progress">
                  </span>
                  <span class="f-med-white text-bubble-txt">
                    $340 / $400
                  </span>
              </div>
            </div>
            <div class="col-12">
              <span class="f-med-blue">
                You have spent a total of $340 between December 1, 2018, and
                December 31, 2018. This is under your budget for that month of
                $400, by $60. Great work!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
