<div class='container-fluid' *ngIf="show">
  <div class='row'>
     <div class='offset-md-2 col-md-8 col-12'>
       <div class='widget widget-full login-container' id='login-widget'>
         <div class='row'>
           <div class='col-12 mtb-10'>
             <h3 class='login-title'>closetr</h3>
           </div>
           <div class='col-12'>
             <ui-input
               id="username-input"
               class="mtb-10-13"
               [labelText]="'username'"
               [type]="'username'"
               [(inputModel)]="username"
               [placeholder]="'Username'"
               (inputModelChange)="loginChangeHandler()"
               [showError]="showLoginError"
             ></ui-input>
           </div>
           <div class='col-12'>
             <ui-input
               id="password-input"
               class="mtb-10-13"
               [labelText]="'password'"
               [type]="'password'"
               [(inputModel)]="password"
               [placeholder]="'Password'"
               (inputModelChange)="loginChangeHandler()"
               [errorMessage]="'username or password doesn\'t match our records.'"
               [showError]="showLoginError"
             ></ui-input>
           </div>
           <div class='col-12 mtb-15'>
             <ui-text-button
               id="login-button"
               [labelText]="'log in'"
               [disabled]="!enableLogin"
               (click)="login()"
             ></ui-text-button>
           </div>
           <div class='col-12'>
             <hr>
             <span class='f-light-blue'>
               Don't have an account yet? It's free!
             </span>
             <ui-text-button
              [labelText]="'sign up'"
              [buttonLink]="'/register'"
              class="mtb-10"
             ></ui-text-button>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
