<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <button class="btn btn-transparent btn-back" (click)="back()">
                <span class="icon-lg">
                  <i class="fas fa-chevron-left"></i>
                </span>
              </button>
              <h3>add clothing</h3>
            </div>
            <div class="col-4">
              <button type="button" (click)="save()" [disabled]="!enableSubmit"
              class="btn text-bubble text-bubble-btn btn-fixed-width pull-right">
                <span class="f-med-white">
                  save
                </span>
              </button>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">name</span>
            </div>
            <div class="col-12">
              <input type="text" class="form-control input-clean" placeholder="e.g. Aritzia T-Shirt"
              (ngModelChange)="checkSubmit()" [(ngModel)]="clothing.clothingName">
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">cost ($)</span>
            </div>
            <div class="col-12">
              <input type="text" class="form-control input-clean" placeholder="e.g. $15"
              (ngModelChange)="checkSubmit()" [(ngModel)]="clothing.clothingCost">
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">category</span>
            </div>
            <div class="col-12">
              <input type="text" class="form-control input-clean" placeholder="e.g. Sweater"
              (ngModelChange)="checkSubmit()" [(ngModel)]="clothing.clothingCategory">
            </div>
          </div>
          <!--
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">choose image</span>
            </div>
            <div class="col-12 col-sm-6">
              <label class="btn-img-upload">
                <span><i class="fas fa-image"></i></span>
              </label>
              <input type="file" id="image-upload" accept="image/*" class="display-none"/>
            </div>
          </div>-->
      </div>
    </div>
  </div>
</div>
