<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <h3>add clothing</h3>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">name</span>
            </div>
            <div class="col-12">
              <input type="text" class="form-control input-clean" placeholder="e.g. Aritzia T-Shirt">
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">cost ($)</span>
            </div>
            <div class="col-12">
              <input type="text" class="form-control input-clean" placeholder="e.g. $15">
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="input-label">category</span>
            </div>
            <div class="col-12">
              <input type="text" class="form-control input-clean" placeholder="e.g. Sweater">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
