/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "global-variables.scss";
@import "container/mixins.scss";
@import "position-spacing.scss";
@import "custom.scss";
@import "icons.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "inputs.scss";
@import "scroll-bar.scss";

//table style
.display-table {
  display: table;
  width: 100%;
}

.dashboard-container-width {
  width: 100vw;
  @include sm {
    width: 90vw;
  }
  @include md {
    width: 80vw;
  }
  @include lg {
    width: 70vw;
  }
  @include xl {
    width: 60vw;
  }
}

.dashboard-container {
  @extend .dashboard-container-width;
  margin-top: 15px;
  padding: 0;
  max-width: 1100px;
  @include sm {
    padding: 0 15px 0 15px;
  }
}

body {
  font-size: 15px;
  font-weight: 400;
  font-family: $font-main;
  background-color: $light-blue-grey;
  transition: $mid-ease;
  overflow-y: overlay;
  overflow-x: hidden;
}

.widget {
  animation: $a-fade-from-down;
  padding: 15px 5px 15px 5px;
  color: $dark-blue;
  background-color: $white;
  min-height: 380px;
  margin: 10px -15px 10px -15px;
  border-radius: 12px;
  transition: $mid-ease;
  @include sm {
    padding: 22px 25px 22px 25px;
    margin-left: 0;
    margin-right: 0;
  }
  @include xl {
    padding: 25px 35px 25px 35px;
  }
}

.widget-left {
  @include md {
    margin-right: -5px;
  }
}

.widget-right {
  @include md {
    margin-left: -5px;
  }
}

.widget-full {
  @extend .widget;
  min-height: 550px;
  padding: 20px;
  @include sm {
    padding: 22px 35px 22px 35px;
  }
  @include xl {
    padding: 25px 45px 25px 45px;
  }
}

.nav-row {
  animation: $a-fade-from-up;
  transition: $mid-ease;
  margin-top: 20px;
  margin-bottom: 15px;
  z-index: $z-nav-row;
  @include sm {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}

/*
circle styles
*/

%circle-50 {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

%circle-55 {
  height: 55px;
  width: 55px;
  border-radius: 27.5px;
}

%circle-65 {
  height: 65px;
  width: 65px;
  border-radius: 32.5px;
}

%circle-70 {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

%circle-md {
  @extend %circle-65;
  padding: 10px;
}

%circle-sm {
  padding: 10px;
  @extend %circle-50;
}

.weather-bubble-container {
  width: 225px;
  margin: auto;

  @include sm {
    width: 240px;
  }

  @include md {
    width: 210px;
  }

}

.weather-bubble {
  width: 55px;
  height: 55px;
  border-radius: 27.5px;
  background-color: $light-blue-grey;
  display: inline-block;
  margin: 0 10px 0 10px;

  @include sm {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }

  @include md {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  background: none;
}

/*
a changes
*/

a {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

.display-none {
  opacity: 0;
  transition: $fast-ease;
}

.disabled-none {
  transition: $fast-ease;
  &:disabled {
    opacity:0 !important;
  }
}

/*
closet card components
*/

.closet-card {
  border-radius: 10px;
  background-color: $med-blue;
  height: 170px;
  width: 100%;
  transition: $fast-ease;
  &:hover {
    transition: $fast-ease;
    margin-left: -3px;
    margin-top: 7px;
    width: calc(100% + 5px);
    height: 175px;
  }
}

.closet-card-picture-container {
  height: 100px;
  background-color: $dark-blue;
  border-radius: 10px 10px 0 0;
}

.closet-card-caption-container {
  height: 70px;
  line-height: 15px;
  overflow: hidden;
}

.closet-card-caption {
  margin: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closet-card-icon-edit {
  position: relative;
  top: -22px;
  left: 5px;
  transition: $fast-ease;
}

.closet-card-icon-close {
  position: relative;
  font-size: 15px;
  top: 5px;
  left: 92%;
  transition: $fast-ease;
}

//closet search result styles
.closet-search-box {
  background-color: $light-blue-grey;
  transition: $mid-ease;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 7px;
  height: 31px;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: $light-blue-grey-1;
    transition: $mid-ease;
  }
}

// spending manage view
.table-general {
  @extend .mtb-15;
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch;
  max-height: 40vh;
}

.cell-bold {
  @extend .f-bold-blue-md;
  padding-right: 10% !important;
}

.cell-regular {
  @extend .f-light-blue-md;
}

// log in
.login-container {
  position: relative;
  top: calc(15vh - 30px);
  min-height: 70vh;
}

.login-title {
  display: inherit;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}

// rest
.closet-search-box-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
  display: inline-block;
}

router-outlet ~ * {
  position: absolute;
  width: calc(100vw);
  @include sm {
    width: calc(90vw - 30px);
  }
  @include md {
    width: calc(80vw - 30px);
  }
  @include lg {
    width: calc(70vw - 30px);
  }
  @include xl {
    width: calc(60vw - 30px);
  }
}

// user menu styles
.nav-popup-container {
  position: absolute;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  z-index: $z-nav-popup-container;
}

.nav-popup {
  animation: $a-fade-from-up;
  position: absolute;
  background-color: $white;
  z-index: $z-nav-popup;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -3px #bbbbbb;
}

#user-menu {
  top: 75px;
  left: 16px;
  height: 110px;
  width: 140px;
  @include sm {
    left: calc(8% + 5px);
    top: 90px;
  }
  @include md {
    left: calc(13% + 3px);
  }
  @include lg {
    left: calc(17% + 8px);
  }
  @include xl {
    left: calc(22% + 3px);
  }
  & .menu-item {
    & button {
      @extend .f-light-blue-md;
    }
    list-style: none;
    position: relative;
    top: 5px;
    left: -40px;
    margin: 8px 0 8px 0;
  }
}
