<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <h3>today</h3>
      </div>
      <div class="col-12">
        <h4>WED, NOV 6</h4>
      </div>
  </div>
  <div class="row mtb-10">
      <div class="col-12">
        <div class="weather-bubble-container">
          <div class="weather-bubble">
          </div>
          <div class="weather-bubble">
          </div>
          <div class="weather-bubble">
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12 mtb-10">
      <span class="f-light-blue-md">
        Good morning {{currentUser.userName}}!
        What are you wearing today?
      </span>
    </div>
    <div class="col-12">
      <ui-text-button
        [labelText]="'log outfit'"
        [buttonLink]="'/log-outfit'"
      ></ui-text-button>
    </div>
    <div class="col-12">
      <ui-text-button
        [labelText]="'pick something for me'"
      ></ui-text-button>
    </div>
  </div>
</div>
