<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <h3>today</h3>
      </div>
      <div class="col-12">
        <h4>WED, NOV 6</h4>
      </div>
  </div>
  <div class="row mtb-10">
      <div class="col-12">
        <div class="weather-bubble">
        </div>
        <div class="weather-bubble">
        </div>
        <div class="weather-bubble">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="f-light-blue">
        what are you wearing today?
      </span>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-blue">
        <span class="f-med-white">
          log outfit
        </span>
      </button>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-blue">
        <span class="f-med-white">
          pick something for me
        </span>
      </button>
    </div>
  </div>

</div>
