// INPUT CHECKBOX TOGGLE STYLES
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: $med-blue;
	display: inline-block;
	border-radius: 20px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 18px;
	transition: 0.3s;
}

label:before {
  width: 18px;
	height: 18px;
}

input:checked + label {
	background: $dark-blue;
}

input:checked + label:before {
  width: 18px;
}

input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
  width: 18px;
}

label:active:after {
	width: 20px;
}

//*****************************************
