$dark-blue: #262F30;
$light-blue-grey: #E6ECEF;
$white: #FFFFFF;
$med-blue: #AFC2CE;
$font-main: 'Work Sans', sans-serif;

$slow-ease: 0.7s ease-in-out;
$mid-ease: 0.5s ease-in-out;
$fast-ease: 0.3s ease-in-out;
