<div class="row mtb-10">
  <div class="col-12">
    <span class="input-label">{{labelText}}</span>
  </div>
  <div class="col-12">
    <input
      type="type"
      class="form-control input-clean"
      placeholder="{{placeholder}}"
      (change)="modelChange()"
      [(ngModel)]="inputModel"
      [ngClass]= "{
        'input-clean-error' : showError
      }">
    >
  </div>
  <div class="col-12">
    <span class="input-clean-error-label" [hidden]="!showError">
       {{errorMessage}}
    </span>
  </div>
</div>
