/*
Closetr spacing, and positioning styles (margin and padding).
*/

.row-mgn-reset {
  margin-left: 0;
  margin-right: 0;
}

.pad-left-0 {
  padding-left: 0;
}

.pad-right-0 {
  padding-right: 0;
}

.pull-right {
  float: right;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mtb-10-13 {
  margin-top: 10px;
  margin-bottom: 13px;
}

.mtb-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.mrt-5 {
  margin-right: 5px;
}

.row-reset-3 {
  margin-left: -7px;
  margin-right: -7px;
}

.col-reset-3 {
  padding: 3px;
}

.h-back-mgn {
  margin-left: -15px;
}
