<div class="container-fluid">
  <div class="row">
    <div class="col-12 closet-card-picture-container">
      <div class="closet-card-picture">
      </div>
    </div>
    <div class="col-12 closet-card-caption-container">
      <div class="closet-card-caption">
        <span class="f-bold-blue-xs">Aritzia T-shirt</span><br>
        <span class="f-light-blue-xs">cost: $45</span><br>
        <span class="f-light-blue-xs">worn: 2 times</span><br>
        <span></span>
      </div>
    </div>
  </div>
</div>
