<div class="container-fluid">
  <div class="row">
    <div class="col-12 closet-card-picture-container">
      <div class="closet-card-picture">
      </div>
      <button [ngClass]="{'display-none':!editMode}"
      (click)="removeCard(clothing.clothingID)"
      [disabled] = "!editMode"
      class="btn btn-transparent closet-card-icon-close disabled-none">
        <span class="icon-white">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>
    <div class="col-12 closet-card-caption-container">
      <div class="closet-card-caption">
        <span class="f-bold-blue-xs">{{clothing.clothingName}}</span><br>
        <span class="f-light-blue-xs">cost: {{clothing.clothingCost}}</span><br>
        <span class="f-light-blue-xs">worn: {{clothing.clothingWorn}} times</span><br>
      </div>
      <button [ngClass]="{'display-none':!editMode}"
      class="btn btn-transparent closet-card-icon-edit icon-edit disabled-none"
      (click)="editCard(clothing)"
      [disabled] = "!editMode || !isClosetManage">
        <span class="icon">
          <i class="fas fa-pen"></i>
        </span>
      </button>
    </div>
  </div>
</div>
