@import "../../../global-variables.scss";

.closet-card-picture-container {
  height: 100px;
  background-color: $dark-blue;
  border-radius: 10px 10px 0 0;
}

.closet-card-caption-container {
  height: 70px;
  line-height: 15px;
  overflow-x: hidden;
}

.closet-card-caption {
  margin: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
