<div class="nav-popup-container" (click)="close()">
</div>
<div class="container-fluid nav-popup" id="user-menu">
  <div class="row">
    <div class="col-12">
      <ul>
        <ui-popup-menu-item
          (click)="navClick('/profile')"
          labelText="My Profile"
        ></ui-popup-menu-item>
        <ui-popup-menu-item
          (click)="navClick('/settings')"
          labelText="Settings"
        ></ui-popup-menu-item>
        <ui-popup-menu-item
          (click)="navClick('/sign-out')"
          labelText="Sign Out"
        ></ui-popup-menu-item>
      </ul>
    </div>
  </div>
</div>
