<ui-widget-full>
  <div class="row">
      <div class="col-12">
        <ui-back-button
          id="back-button"
          [url]="'/dashboard'"
        ></ui-back-button>
        <h3>spending</h3>
      </div>
  </div>
  <div class="row mtb-4">
      <div class="col-12">
        <ui-input-add-button
          [addon]="'search'"
          [placeholder]="'Search your closet...'"
        ></ui-input-add-button>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ui-text-button
        id="add-new-button"
        [labelText]="'add new'"
        [buttonLink]="'/dashboard'"
      ></ui-text-button>
    </div>
  </div>
  <div class="row mtb-4">
    <div
      id="date-range-for-select"
      class="col-6 col-md-4 pad-right-0"
      [hidden]="isDateRange">
      <ui-filter-select
        [items]="availableDateRange"
        [(inputModel)]="searchCriteria.dateRangeFor"
        (inputModelChange)="searchCriteriaChangeHandler()"
        [labelText]="'from:'"
      ></ui-filter-select>
    </div>
    <div
      id="date-range-from-select"
      class="col-6 col-md-4"
      [hidden]="!isDateRange">
      <ui-filter-date
        [(inputModel)]="searchCriteria.dateFromFormatted"
        (inputModelChange)="searchCriteriaChangeHandler()"
        [labelText]="'from:'"
      ></ui-filter-date>
    </div>
    <div
      id="date-range-to-select"
      class="col-6 col-md-4"
      [hidden]="!isDateRange">
      <ui-filter-date
        [(inputModel)]="searchCriteria.dateToFormatted"
        (inputModelChange)="searchCriteriaChangeHandler()"
        [labelText]="'to:'"
      ></ui-filter-date>
    </div>
    <div
      [ngClass]="{'col-6 col-md-8':!isDateRange, 'col-12 col-md-4':isDateRange}"
      id="toggle-button">
      <input type="checkbox" id="switch" [(ngModel)]="isDateRange"/><label for="switch" class="toggle pull-right">Toggle</label>
      <span class="toggle-label pull-right">date range</span>
    </div>
  </div>
  <div class="row mtb-10">
    <div class="col-12">
      <ui-table
        id="purchase-table"
        *ngIf="closetList"
        [items]="closetList"
        [bindBold]="'clothingCost'"
        [bindRegular]="'clothingName'"
        [filter]="'date'"
        [filterBy]="'clothingPurchaseDate'"
        [filterCriteria]="filterCriteria"
      ></ui-table>
    </div>
  </div>
  <div class="row mtb-10">
    <div class="col-12">
      <span class="f-light-blue">
        December 1, 2018 - December 31, 2018
      </span>
    </div>
    <div class="col-12">
      <div class="text-bubble text-bubble-span">
          <span class="text-bubble-progress">
          </span>
          <span class="f-med-white text-bubble-txt">
            $340 / $400
          </span>
      </div>
    </div>
    <div class="col-12">
      <span class="f-med-blue">
        You have spent a total of $340 between December 1, 2018, and
        December 31, 2018. This is under your budget for that month of
        $400, by $60. Great work!
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ui-text-button
        id="manage-budget-button"
        [labelText]="'manage budget'"
        [buttonLink]="'/budget-manage'"
      ></ui-text-button>
    </div>
  </div>
</ui-widget-full>
