<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <ui-back-button
                  id="back-button"
                  [url]="'/dashboard'"
                ></ui-back-button>
                <h3>spending</h3>
              </div>
          </div>
          <div class="row mtb-4">
              <div class="col-12">
                <ui-input-add-button
                  [addon]="'search'"
                  [placeholder]="'Search your closet...'"
                ></ui-input-add-button>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ui-text-button
                id="add-new-button"
                [labelText]="'add new'"
                [buttonLink]="'/dashboard'"
              ></ui-text-button>
            </div>
          </div>
          <div class="row mtb-4">
            <div
              id="date-range-for-select"
              class="col-6 col-md-4 pad-right-0"
              [hidden]="isDateRange">
              <ui-filter-select
                [items]="availableDateRange"
                [(inputModel)]="searchCriteria.dateRangeFor"
                (inputModelChange)="searchCriteriaChangeHandler()"
                [labelText]="'from:'"
              ></ui-filter-select>
            </div>
            <div
              id="date-range-from-select"
              class="col-6 col-md-4"
              [hidden]="!isDateRange">
              <ui-filter-date
                [(inputModel)]="searchCriteria.dateRangeFrom"
                (inputModelChange)="searchCriteriaChangeHandler()"
                [labelText]="'from:'"
              ></ui-filter-date>
              <!--
              <span class="date-picker-label">from:</span>
              <input class="mtb-4 date-picker-from" type="string"
              [(ngModel)]="searchCriteria.dateFromFormatted"
              (ngModelChange)="searchCriteriaChangeHandler()">-->
            </div>
            <div
              id="date-range-to-select"
              class="col-6 col-md-4"
              [hidden]="!isDateRange">
              <span class="date-picker-label">to:</span>
              <!--
              <input class="mtb-4 date-picker-to" type="string"
              [(ngModel)]="searchCriteria.dateToFormatted"
              (ngModelChange)="searchCriteriaChangeHandler()">-->
              <ui-filter-date
                [(inputModel)]="searchCriteria.dateRangeTo"
                (inputModelChange)="searchCriteriaChangeHandler()"
                [labelText]="'to:'"
              ></ui-filter-date>
            </div>
            <div [ngClass]="{'col-6 col-md-8':!isDateRange, 'col-12 col-md-4':isDateRange}">
              <input type="checkbox" id="switch" [(ngModel)]="isDateRange"/><label for="switch" class="toggle pull-right">Toggle</label>
              <span class="toggle-label pull-right">date range</span>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <ui-table
                *ngIf="closetList"
                [items]="closetList"
                [bindBold]="'clothingCost'"
                [bindRegular]="'clothingName'"
                [filter]="'date'"
                [filterBy]="'clothingPurchaseDate'"
                [filterCriteria]="filterCriteria"
              ></ui-table>
              <!--
              <div class="purchase-list-table">
                <table class="table table-sm table-borderless">
                  <tbody>
                    <tr *ngFor="let clothing of closetList | dateRangeFilter:searchCriteria.dateFrom:searchCriteria.dateTo:'clothingPurchaseDate' | keyvalue">
                      <td class="purchase-list-cost">{{clothing.value.clothingCost}}</td>
                      <td class="purchase-list-clothing">{{clothing.value.clothingName}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              -->
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-12">
              <span class="f-light-blue">
                December 1, 2018 - December 31, 2018
              </span>
            </div>
            <div class="col-12">
              <div class="text-bubble text-bubble-span">
                  <span class="text-bubble-progress">
                  </span>
                  <span class="f-med-white text-bubble-txt">
                    $340 / $400
                  </span>
              </div>
            </div>
            <div class="col-12">
              <span class="f-med-blue">
                You have spent a total of $340 between December 1, 2018, and
                December 31, 2018. This is under your budget for that month of
                $400, by $60. Great work!
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ui-text-button
                id="manage-budget-button"
                [labelText]="'manage budget'"
                [buttonLink]="'/budget-manage'"
              ></ui-text-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
