<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <h3>log outfit</h3>
              </div>
              <div class="col-12">
                <h4>WED, NOV 6</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-12 mtb-15">
                <div class="input-group">
                  <input type="text" class="form-control input-clean" placeholder="Search your closet...">
                  <span class="input-group-btn input-clean-addon-right">
                    <button class="btn btn-default" style="background-color: transparent" type="button">
                      <i class="fas fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
