<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="widget-full">
        <div class="container-fluid">
          <div class="row">
              <div class="col-6">
                <ui-back-button
                  [url]="'/dashboard'"
                ></ui-back-button>
                <h3>log outfit</h3>
              </div>
              <div class="col-6">
                <button type="button"
                (click)="toggleEditMode()"
                class="btn btn-transparent pull-right icon-edit">
                  <span class="icon-lg">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
                <ui-text-button
                  [labelText]="'save'"
                  [type]="'top-right'"
                  [hidden]="!editMode"
                  (click)="save()"
                >
                </ui-text-button>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                <h4>WED, NOV 6</h4>
              </div>
          </div>
          <div class="row mtb-10">
              <div class="col-12">
                <ui-input-add-button
                  [addon]="'search'"
                  [(inputModel)]="searchText"
                  [placeholder]="'Search your closet...'"
                ></ui-input-add-button>
              </div>
          </div>
          <div class="row mtb-4">
            <div class="col-12" *ngFor="let clothing of closetList | filter:searchText:'clothingName' | keyvalue" [hidden]="!searchText">
              <button class="btn closet-search-box" (click)="addSearchResult(clothing.value)">
                <span class="closet-search-box-text f-med-blue-xs">{{clothing.value.clothingName}}
                <span class="f-light-blue-xs"> | </span> cost: <span class="f-light-blue-xs">{{clothing.value.clothingCost}}</span>
                <span class="f-light-blue-xs"> | </span> worn: <span class="f-light-blue-xs">{{clothing.value.clothingWorn}} times</span>
                </span>
                <button class="btn btn-transparent pull-right" (click)="addSearchResult(clothing.value)">
                  <span class="icon icon-add">
                    <i class="fas fa-plus"></i>
                  </span>
                </button>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ui-text-button
                [labelText]="'add manually'"
                [buttonLink]="'/add-clothing'"
              >
              </ui-text-button>
            </div>
          </div>
          <div class="row mtb-10">
            <div class="col-6 col-sm-4 col-lg-3" *ngFor="let clothing of outfitClothingList | keyvalue">
              <div class="closet-card mtb-10">
                <app-closet-card [clothing]="clothing.value" [editMode]="editMode" (removeCardEmit)="removeCard(clothing.key)"></app-closet-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
